.hero {
  position: relative;
  width: 50%;
  margin: 7% auto;

  h1 {
    margin: 5% 0;

    @media (max-width: 768px) {
      font-size: 1.8rem;
    }

    @media (max-width: 400px) {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    width: 80%;
  }
}
