.search {
  position: relative;
  width: 100%;

  form {
    display: flex;
    align-items: center;
  }

  &_input {
    width: 100%;
    padding: 15px 4px 15px 20px;
    height: 50px;
    color: #1a1a1a;
    font-size: 17px;
    border: 1px solid $border;
    border-radius: 6px;

    &:focus {
      outline: none;
    }
  }

  &_btn {
    position: absolute;
    background: transparent;
    right: 0;
    border: none;
    padding: 16px;
    cursor: pointer;
  }
}
